@use '../styles/variables';

// Endorsement New
.endorsementmodule_wrapper {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    grid-gap: 20px;
    align-items:center;

    .endorsement-card {
        background:variables.getColor(lightBase);
        padding:10% 10px;
        border:2px solid variables.getColor(darkBase);
        @include variables.objectCorner('medium');
        transition-property: box-shadow;
        transition-duration: .4s;

        h2 {
            padding:0px;
            margin:auto;
        }
        
        p {
            margin:0px;
            text-align:center;
        }

        &:before {
            content:"Thank you";
            margin:auto;
            text-align:center;
            color:variables.getColor(darkBase);
            font-weight:800;
            display:block;
            transition-property: color;
            transition-duration: 1s;
        }

        &:hover {
            border-color: transparent;
            @include variables.objectShadow(base);

            &:before {
                color:variables.$blue;
            }
        }
    }
}