@use '../styles/variables' as *;

#getinvolved {
    padding-right:0px;
    padding-left:0px;
}

.get-involved {
    padding-top:4% !important;
    padding-bottom:4% !important;
    @include buttonGradient(orange-gradient);

    h1 {
        color:getColor(darktextHeader);
        padding:0px;
        margin:0px 0px 20px 0px;
    }

    h3 {
        text-align:center;
    }

    button.btn {
        max-width:300px;
        width:90% !important;
    }
}

.getinvolved-form {
    margin:auto;
  
    label {
      color:getColor(normalText);
      font-weight:600;
    }
  
    input {
      margin-bottom:15px !important;
    }
    
    .getinvolved-checkbox {
      label {
        font-weight:100;
        margin-bottom:5px;
  
        &:first-child {
          font-weight:600;
        }
      }
      input {
        margin-bottom:0px !important;
      }
    }
  
    input {
      width:100%;
      margin-bottom:10px;
  
      &:last-child {
        margin-bottom:0px;
      }
    }
  
    input[type="text"], input[type="email"]{
      outline:none;
      border:none;
      padding:10px 15px;
      background:getColor(darkBase);
      border-radius:6px;
    }

    input[type="checkbox"] {
        margin-right:5px !important;
    }
  
    .btn {
      outline:none;
      border:none;
      padding:10px 0px;
      margin-top:15px;
  
      &:hover {
        cursor: pointer;
      }
    }
  }
  
  @supports(-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='checkbox'],
    input[type='radio'] {
    //   --active: #275EFE;
      --active-inner: #fff;
    //   --focus: 2px rgba(var(--color-textSubHeader), .3);
      --border: #BBC1E1;
    //   --border-hover: #275EFE;
      --background: #fff;
      --disabled: #F6F8FF;
      --disabled-inner: #E1E6F9;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 21px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: 1px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      transition: background .3s, border-color .3s, box-shadow .2s;
      &:after {
        content: '';
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
      }
      &:checked {
        --b: var(--color-textSubHeader);
        --bc: var(--color-textSubHeader);
        --d-o: .3s;
        --d-t: .6s;
        --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
      }
      &:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: .9;
        &:checked {
          --b: var(--disabled-inner);
          --bc: var(--border);
        }
        & + label {
          cursor: not-allowed;
        }
      }
      &:hover {
        &:not(:checked) {
          &:not(:disabled) {
            --bc: var(--color-textSubHeader);
          }
        }
      }
      &:focus {
        box-shadow: 0 0 0 var(--focus);
      }
      &:not(.switch) {
        width: 21px;
        &:after {
          opacity: var(--o, 0);
        }
        &:checked {
          --o: 1;
        }
      }
      & + label {
        font-size: 14px;
        line-height: 21px;
        // display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;
      }
    }
    input[type='checkbox'] {
      &:not(.switch) {
        border-radius: 7px;
        &:after {
          width: 5px;
          height: 9px;
          border: 2px solid getColor(lightBase);
          border-top: 0;
          border-left: 0;
          left: 6px;
          top: 2px;
          transform: rotate(var(--r, 20deg));
        }
        &:checked {
          --r: 43deg;
        }
      }
      &.switch {
        width: 38px;
        border-radius: 11px;
        &:after {
          left: 2px;
          top: 2px;
          border-radius: 50%;
          width: 15px;
          height: 15px;
          // background: red;
          transform: translateX(var(--x, 0));
        }
        &:checked {
          --ab: var(--active-inner);
          --x: 17px;
        }
        &:disabled {
          &:not(:checked) {
            &:after {
              opacity: .6;
            }
          }
        }
      }
    }
}
    // input[type='radio'] {
    //   border-radius: 50%;
    //   &:after {
    //     width: 19px;
    //     height: 19px;
    //     border-radius: 50%;
    //     background: var(--active-inner);
    //     opacity: 0;
    //     transform: scale(var(--s, .7));
    //   }
    //   &:checked {
    //     --s: .5;
    //   }
    // }