@use '../styles/variables';

.profile-module {
    display:flex;
    justify-content: center;
    min-height:200px;

    span {
        border-radius:25px;
    }

    span:first-child {
        margin-right:2% !important;
    }

    .profile-module_img {
        flex:1;
        background-size: cover !important;
        background-position: center center !important;
        background-repeat: no-repeat !important;
    }
    
    .profile-module_textarea {
        align-self: baseline;
        flex:2;
        padding:20px 30px;
        background:variables.getColor(darkBase);
        
        p {
            color:variables.$light-text;
            padding: 0px;
            margin: 0;
            line-height:35px;
        }
    }
}