@use '../styles/variables';

.profile-module {
    display:flex;
    justify-content: center;
    min-height:200px;

    span {
        border-radius:25px;
    }
    
    .profile-module_img {
        flex:1;
        margin-right:2% !important;
        border-radius:25px;
        max-width:500px;
        align-self: center;
    }
    
    .profile-module_textarea {
        align-self: baseline;
        flex:2;
        padding:20px 30px;
        background:variables.getColor(darkBase);
        
        p {
            color:variables.getColor(lightText);
            padding: 0px;
            margin: 0;
            line-height:35px;
        }
    }
}