@use '../../styles/variables' as *;

.columnCardWrap {
    display:flex;
    margin-bottom:3%;
    @include objectShadow('base');
    border-radius:$border-radius-medium;
    transition: box-shadow 200ms linear;

    &:hover {
        @include objectShadow('hover');
    }

    @include responsive('tablet') {
        flex-direction: column-reverse !important;
        margin-bottom:5%;

        .cover {
            min-height:200px !important;
        }
    }

    // Even Section Items
    &:nth-child(2n) {
        flex-direction: row-reverse;

        // Even Text
        .info {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: $border-radius-medium;
            border-bottom-right-radius: $border-radius-medium;
        }

        // Even Cover
        .cover {
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
            border-top-left-radius: $border-radius-medium !important;
            border-bottom-left-radius: $border-radius-medium !important;
        }

        @include responsive('tablet') {
            .info {
                border-top-right-radius: 0;
                border-top-left-radius: 0;
                border-bottom-right-radius: $border-radius-medium;
                border-bottom-left-radius: $border-radius-medium;
            }

            .cover {
                border-top-right-radius: $border-radius-medium !important;
                border-top-left-radius: $border-radius-medium;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0 !important;
            }
        }
    }

    &:last-child {
        margin-bottom:0 !important;
    }
    
    .card {
        flex:1;
        min-height:150px;
        padding:5% 4%;
        width:100%;

        @include responsive('tablet') {
            padding:5% 5%;
        }
    }

    .info {
        background:getColor(lightBase);
        border-top-left-radius: $border-radius-medium;
        border-bottom-left-radius: $border-radius-medium;

        h4 {
            font-size:2vmax;
            margin:0;
            color:getColor(textHeader);

            @include responsive('tablet') {
                font-size:3vmax;
                text-align:center;
            }
        }

        p {
            margin:5px 0 0 0;
        }

        @include responsive('tablet') {
            border-top-left-radius: 0;
            border-bottom-right-radius: $border-radius-medium;
        }
    }

    .cover {
        background-size:cover !important;
        background-position: center center !important;      
        border-top-right-radius: $border-radius-medium;
        border-bottom-right-radius: $border-radius-medium;

        @include responsive('tablet') {
            border-top-left-radius: $border-radius-medium;
            border-bottom-right-radius: 0;
        }
    }
}