@use '../styles/variables' as *;

.popup-modal_wrapper {
  // position:relative;
  margin:auto;
  max-width:800px;
  width:100%;
  background:getColor(lightBase);
  margin-top:3%;
  padding:3% 6%;
  @include objectCorner(small);
  position:relative;

  #close-modal {
    position:absolute;
    top:10px;
    right:10px;
    width:40px;
    height:40px;
    border-radius:50%;
    padding-top:5px;
    background:getColor(darkBase);
    color:getColor(normalText);
    font-family:"Poppins", sans-serif;
    font-weight:bold;
    text-align:center;
  }
}