@use '../../styles/variables' as *;

.popup-modal_wrapper {
  // position:relative;
  margin:auto;
  max-width:800px;
  width:100%;
  // background:getColor(lightBase);
  margin-top:3%;
  @include objectCorner(small);
  padding-top:0px;
}