@use './variables';

* {
  box-sizing:border-box;
}

a {
  text-decoration:none;
}

body {
  background: variables.getColor(base);
  margin:0;
  font-family:'Poppins', sans-serif;
}

// Navigation
nav {
  position:sticky;
  top:0;
  right:0;
  left:0;
  z-index:10;
  background:variables.getColor(base);
  box-shadow:0px 15px 50px rgba(0, 0, 0, 0.08);

  .nav-wrapper {
    display:flex;
    align-items:center;
    min-height:50px;
    max-width:variables.$page-width;
    margin:auto;

    div {
      flex:1;
    }

    .logo-contain {
      #logo {
        max-height:100px;
        padding:20px 0px;
        display:block;
        margin:auto;
      }
    }
    .nav-contain {
      text-align:center;
      flex:2;

      .nav-item {
        color:variables.getColor(textOnDark);
        display:inline-block;
        margin:0px 15px;

        &:first-child {
          margin-left: 0 !important;
        }

        &:last-child {
          margin-right:0px !important;
        }
      }
    }

    .donate-contain {
      a.donate {
        display:block;
        text-decoration:none;
        // color:variables.getColor(textOnOrange);
        // background:variables.$orange;
        padding:10px 0;
        width:150px;
        margin:auto;
        border-radius:10px;
        text-align:center;
      }
    }
  }
}

section {
  padding:5% 5%;

  h1 {
    font-family:'Poppins', sans-serif;
    font-size:3vmax;
    color:variables.getColor(textHeader);
    text-align:center;
  }

  h2 {
    font-family:'Poppins', sans-serif;
    font-size:2vmax;
    color:variables.getColor(textHeader);
    text-align:center;
  }
}

h3 {
  padding:0px;
  margin:0;
  font-size:2.2vmax;
  color:variables.getColor(textSubHeader);
}

.btn {
  display:block;
  text-align:center;
  text-decoration:none;
  font-family:"Poppins", sans-serif;
  font-weight:600;
  font-size:1rem;
  padding:10px 60px;
  @include variables.objectCorner("small");
  @include variables.enableAnimation;
}

// Configurations
.minimal-btn {
  background:variables.getColor(lightClean-btnBG);
  color:variables.getColor(lightClean-btnTXT);
  padding:10px 70px;

  &:hover {
    background: variables.$lightClean;
    color:#FFF;
  }
}

.red-btn {
  background:variables.getColor(red-btnBG);
  color:variables.getColor(red-btnTXT);

  &:hover {
    background: variables.$red;
    color:#FFF;
  }
}

.blue-btn {
  background:variables.getColor(blue-btnBG);
  color:variables.getColor(blue-btnTXT);

  &:hover {
    background: variables.$blue;
    color:#FFF;
  }
}

footer {
  background:variables.getColor(Darkbase);
  padding:2% 0px;
}

#footer-wrapper {
  max-width:variables.$page-width;
  margin:auto;
  display:flex;
  justify-content: center;
  align-items: center;

  .footer-logo {
    flex: 1;
  }

  .footer-nav {
    flex:1;
    list-style:none;
    margin:auto;
      
    li {
      display:inline-block;
      margin-right:15px;

      a {
        text-decoration:none;
        color:variables.getColor(text2);
      }

      &:last-child {
        margin-right:0px !important;
      }
    }
  }

  .footer-social {
    flex:1;
    text-align:center;

    span {
      margin-right:15px;
      color:variables.getColor(text2);

      &:last-child {
        margin-right:0px !important;
      }
    }
  }
}