@use './variables';

* {
  box-sizing:border-box;
}

a {
  text-decoration:none;
}

body {
  background: variables.getColor(base);
  margin:0;
  font-family:'Poppins', sans-serif;
}

// Navigation
nav {
  position:sticky;
  top:0;
  right:0;
  left:0;
  z-index:10;
  background:variables.getColor(base);
  box-shadow:0px 15px 50px rgba(0, 0, 0, 0.08);

  .nav-wrapper {
    display:flex;
    align-items:center;
    min-height:50px;
    // max-width:variables.$page-width;
    margin:auto;

    div {
      flex:1;
    }

    .logo-contain {
      #logo {
        max-height:100px;
        padding:10px 0px;
        display:block;
        margin:auto;
      }
    }
    .nav-contain {
      text-align:center;
      flex:2;

      .donate-mobile {
        display:none !important;
      }

      .nav-item {
        color:variables.getColor(textOnDark);
        display:inline-block;
        margin:0px 15px;
        @include variables.enableAnimation;

        &:hover {
          color:variables.$blue;
        }

        &:first-child {
          margin-left: 0 !important;
        }

        &:last-child {
          margin-right:0px !important;
        }
      }
    }

    .donate-contain {
      a.donate {
        display:block;
        text-decoration:none;
        padding:10px 0;
        width:150px;
        margin:auto;
        border-radius:10px;
        text-align:center;
      }
      .menu-icon {
        display:none;
        font-size:3rem;
        position: absolute;
        right: 25px;
        top: 25px;
        color:variables.getColor(textHeader);
        background:variables.getColor(darkBase);
        @include variables.objectCorner("small");
        @include variables.enableAnimation;
        padding:10px;

        &:hover {
          cursor:pointer;
          color:variables.getColor(lightBase);
          background:variables.$blue;
        }
      }
    }
  }
}

section {
  padding:5% 5%;

  h1 {
    font-family:'Poppins', sans-serif;
    font-size:3vmax;
    color:variables.getColor(textHeader);
    text-align:center;
  }

  h2 {
    font-family:'Poppins', sans-serif;
    font-size:2vmax;
    color:variables.getColor(textHeader);
    text-align:center;
  }
}

h3 {
  padding:0px;
  margin:0;
  font-size:2.2vmax;
  color:variables.getColor(textSubHeader);
}

.btn {
  display:block;
  text-align:center;
  text-decoration:none;
  font-family:"Poppins", sans-serif;
  font-weight:600;
  font-size:1rem;
  padding:10px 60px;
  @include variables.objectCorner("small");
  @include variables.enableAnimation;
}

// Button Configurations
.minimal-btn {
  background:variables.getColor(lightClean-btnBG);
  color:variables.getColor(lightClean-btnTXT);
  padding:10px 70px;

  &:hover {
    background: variables.$lightClean;
    box-shadow: variables.$shadowView rgba(variables.$lightClean, .2);
    color:#FFF;
  }
}

.red-btn {
  background:variables.getColor(red-btnBG);
  color:variables.getColor(red-btnTXT);

  &:hover {
    background: variables.$red;
    @include variables.buttonGradient(orange-gradient);
    color:#FFF;
    box-shadow: variables.$shadowView rgba(variables.$red, .2);
  }
}

.blue-btn {
  background:variables.getColor(blue-btnBG);
  color:variables.getColor(blue-btnTXT);

  &:hover {
    background: variables.$blue;
    @include variables.buttonGradient(blue-gradient);
    color:#FFF;
    box-shadow: variables.$shadowView rgba(variables.$blue, .2);
  }
}

.btn-icon {
  margin-bottom: -3px ;
  margin-left: 5px;
}

footer {
  background:variables.getColor(Darkbase);
}

#footer-wrapper {
  margin:auto;
  display:flex;
  justify-content: center;
  align-items: center;

  .footer-logo {
    flex: 1;
    text-align:center;
    
    img {
      max-width:200px;
      height:100%;
      width:100%;
      margin-top:10px;
    }
  }

  .footer-nav {
    flex:1;
    list-style:none;
    margin:auto;
    text-align:center;
      
    li {
      display:inline-block;
      margin-right:25px;

      a {
        text-decoration:none;
        color:variables.getColor(text2);
      }

      &:last-child {
        margin-right:0px !important;
      }
    }
  }

  .footer-social {
    flex:1;
    text-align:center;

    a {
      margin-right:25px;
      color:variables.getColor(text2);

      &:last-child {
        margin-right:0px !important;
      }
    }
  }
}