@use './variables' as *;

* {
  box-sizing:border-box;
}

a {
  text-decoration:none;
}

body {
  background: getColor(base);
  margin:0;
  font-family:'Poppins', sans-serif;
}

.imagePhotoWrap {
  @include responsive('tablet') {
    clear: both;
    float: none !important;
    display: block;
    margin:auto !important;
  }
}

.imagePhoto {
  border-radius: $border-radius-small !important;

  &:hover {
    border-radius:$object-shadow-base !important;
  }
}

// Height Minimum for emtpy content
.RMW_wrapper { 
  min-height:75vh;
}

section p, section li {
  color:getColor(normalText);
}

#priorities {
  background:getColor(darkBase);
  
  #cover h1 {
    padding-bottom:100px !important;
  }

  section.prior {
    padding-top:0;
    margin-top:-100px;
    position:relative;
  }
}

#cover {
  background:getColor(darkBase);
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  height:60vmin;
  display:flex;
  justify-content:center;
  align-items: center;

  &:before {
    content: '';
    background:linear-gradient(-180deg, transparent, rgba(0, 0, 0, 0.4));
    height:60vmin;
    width:100%;
    position:absolute;
  }

  h1 {
    color:#FFF;
    text-align:center;
    font-size:8vmin;
    z-index:5;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:auto;

  li {
    position: relative;

    &:hover > ul {
      display: block;
    }

    &:focus-within > ul {
      display:block;
    }

    ul {
      display: none;
      position: absolute;
      left: -20%;
      top: 100%;
      text-align:left;
      padding-top:20px;
      @include objectShadow('base');
      border-bottom-right-radius: $border-radius-small !important;
      border-bottom-left-radius: $border-radius-small !important;

      @include responsive('tablet') {
        box-shadow: none !important;
        border-radius:none !important;
      }

      a {
        background:getColor(lightBase);
        padding:.8em 1.5em;
        transition: background 200ms linear, color 200ms linear;

        &:hover {
          background:getColor(darkBase);
        }
      }

      li:last-child a {
        border-bottom-right-radius: $border-radius-small;
        border-bottom-left-radius: $border-radius-small;
      }
    }
  }

  a {
    display: block;
    padding: .5em 0;
    white-space: nowrap;
    color:getColor(textOnDark);
    transition: color 200ms linear;

    &:hover {
      color:$blue;
    }

    &:focus {
      outline: 2px dotted currentColor;
      outline-offset: 2px;
    }
  }

  & > li + li { 
    margin-left: 2em;
  }
}

// Navigation
.navScroll {
  box-shadow:0px 15px 50px rgba(0, 0, 0, 0.08);
}

.active {
  color:$blue !important;
}

nav {
  position:sticky;
  top:0;
  right:0;
  left:0;
  z-index:10;
  background:getColor(navBase);
  padding: 5px 0px;
  transition: box-shadow 250ms linear;

  .nav-wrapper {
    display:flex;
    align-items:center;
    justify-content:center;
    min-height:50px;
    margin:auto;

    div {
      flex:1;
      text-align:center;
    }

    .mobile-nav-contain {
      display:none;
      align-self: center;
      justify-self: center;
      
      .menu-icon {
        display:none;
        font-size:3rem;
        text-align:center;
        margin:auto;
        color:getColor(textHeader);
        background:getColor(lightBase);
        @include objectCorner("small");
        @include enableAnimation;
        padding:10px;
        background:getColor(blue-btnBG);
        color:$blue;

        &:hover {
          cursor:pointer;
          background:$blue;
          color:#FFF;
        }
      }
    }

    .logo-contain {
      flex:1;
      align-self:center;
      // padding:5px 0px;

      a {
        position:relative !important;
        top:1px !important;
      }

      // #logo picture {
      //   max-height:65px !important;
      //   display:block;
      //   margin:auto;
      //   text-align:center;
      // }
    }

    .nav-contain {
      text-align:center;
      flex:2;

      .nav-item {
        color:getColor(textOnDark);
        display:inline-block;
        margin:0px 15px;
        @include enableAnimation;

        &:hover {
          color:$blue;
        }

        &:first-child {
          margin-left: 0 !important;
        }

        &:last-child {
          margin-right:0px !important;
        }
      }
    }

    .donate-contain {
      a.donate {
        display:block;
        text-decoration:none;
        padding:10px 0;
        width:150px;
        margin:auto;
        border-radius:10px;
        text-align:center;

        &:before {
          content:"Donate"
        }
      }
    }
  }
}

section {
  padding:8% 5%;

  h1 {
    font-family:'Poppins', sans-serif;
    font-size:4vmax;
    letter-spacing:1px;
    color:getColor(textHeader);
    text-align:center;
    margin-top:0;
  }

  h2 {
    font-family:'Poppins', sans-serif;
    font-size:2vmax;
    color:getColor(textHeader);
    text-align:center;

    // @include responsive('mobile') {
    //   font-size:5vmax;
    // }
  }
}

h3 {
  padding:0px;
  margin:0;
  font-size:3vmax;
  color:getColor(textSubHeader);
}

.btn {
  display:block;
  text-align:center;
  text-decoration:none;
  font-family:"Poppins", sans-serif;
  font-weight:600;
  font-size:1.1rem;
  padding:15px 20px;
  max-width:220px;
  width:auto;
  @include objectCorner("small");
  @include enableAnimation;

  &:hover {
    transform: translateY(-2px);
  }
}

// Button Configurations
.white-btn {
  background:getColor(lightBase);
  color:getColor(Darkbase);

  &:hover {
    background: $blue;
    color:#FFF;
    // box-shadow: $shadowView rgba($lightClean, .35);
  }
}

.whiteBlue-btn {
  background:$blue;
  color:#FFF;

  &:hover {
    background: lighten($blue, 5);
    color:#FFF;
    // box-shadow: $shadowView rgba($lightClean, .35);
  }
}

.minimal-btn {
  background:getColor(lightClean-btnBG);
  color:getColor(lightClean-btnTXT);

  &:hover {
    background: $lightClean;
    box-shadow: $shadowView rgba($lightClean, .35);
    color:#FFF;
  }
}

.red-btn {
  background:getColor(red-btnBG);
  color:getColor(red-btnTXT);

  &:hover {
    background: $red;
    // @include buttonGradient(orange-gradient);
    color:#FFF;
    box-shadow: $shadowView rgba($red, .35);
  }
}

.blue-btn {
  background:getColor(blue-btnBG);
  color:getColor(blue-btnTXT);

  &:hover {
    background: $blue;
    // @include buttonGradient(blue-gradient);
    color:#FFF;
    box-shadow: $shadowView rgba($blue, .35);
  }
}

.blue-btn-solid {
  background: $blue;
  color:#FFF;

  &:hover {
    // @include buttonGradient(blue-gradient);
    cursor:pointer;
    box-shadow: $shadowView rgba($blue, .2);
  }
}

.transparent-btn {
  background: transparent;
  color:#FFF;
  border:2px solid #fff;
  margin:auto;

  &:hover {
    // @include buttonGradient(blue-gradient);
    cursor:pointer;
    background:white;
    color:#000;
    box-shadow: $shadowView rgba($blue, .2);
  }
}

.transparent-btn-solid {
  outline:none;
  background: #FFF;
  color:getColor(red-btnTXT);
  border:none;
  margin:auto;

  &:hover {
    // @include buttonGradient(blue-gradient);
    cursor:pointer;
    @include objectShadow(hover);
  }
}

.dark-btn-solid {
  outline:none;
  background:getColor(darktextHeader);
  border: 3px solid getColor(darktextHeader);
  color:getColor(red-btnTXT);
  margin:auto;

  &:hover {
    // @include buttonGradient(blue-gradient);
    cursor:pointer;
    color:#FFF;
    // background:getColor(lightBase);
    // border-color: getColor(lightBase);
    @include objectShadow(hover);
  }
}

.donate-btn {
  background:getColor(red-btnBG);
  color:getColor(red-btnTXT);

  &:hover {
    background: $red;
    color:#FFF;
    box-shadow: $shadowView rgba($red, .2);
  }
}

.btn-icon {
  margin-bottom: -3px ;
  margin-left: 5px;
}

.banner-alert {
  color:#EF3A25;
  // background:rgba(#EF3A25, .04);
  @include objectCorner(small);
  margin:0px;
  padding:10px 10px;
  font-weight:bold;
  font-size:1.1rem !important;
}

footer {
  background:getColor(Darkbase);
}

#footer-wrapper {
  margin:auto;
  display:flex;
  justify-content: center;
  align-items: center;

  @include responsive('mobile') {
    padding:5px !important;
  }

  .footer-logo {
    flex: 1;
    text-align:center;
    justify-self: flex-start;
    
    img {
      padding:20px 0px;
      // max-width:200px;
      // height:100%;
      // width:100%;
      // margin-top:10px;
      // display: block;
      // margin-right: auto;
      // margin-left: auto;
    }
  }

  .footer-nav {
    flex:2;
    list-style:none;
    margin:auto;
    text-align:center;
      
    li {
      display:inline-block;
      margin-right:25px;

      a {
        text-decoration:none;
        color:getColor(text2);
      }

      &:last-child {
        margin-right:0px !important;
      }
    }
  }

  .footer-social {
    flex:1;
    text-align:center;

    a {
      color:getColor(text2);
    }

    p {
      @include responsive('mobile') {
        font-size:.7rem;
      }
    }
  }
}