@use './variables';

@media screen and (max-width:800px) {
    h3 {
        font-size:3.5vmax;
    }
    .three-column-option {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px 20px;

        div h2 {
            font-size:2.7vmax;
        }
    }

    .profile-module {
        flex-direction: column;

        .profile-module_img {
            max-width:300px;
            margin-bottom:5%;
        }
    }

    .endo_logo-part {
        // flex-direction: column;
        // &:first-child {
        // }
        flex-wrap: wrap;

        &:first-child {
            margin-bottom:0 !important;
        }
        
        .endos {
            margin-bottom:4% !important;
        }
    }

    .events-module_section {
        flex-direction: column-reverse;

        .event-des {
            margin-top:variables.$objectSpace_small;
            margin-right:0 !important;
        }

        &:nth-child(2) {
            flex-direction: column !important;
            .event-img {
                margin-right:0px !important;
            }
        }
    }
    .footer-nav {
        display:none;
    }

    .nav-contain {
        display:none !important;
        background:variables.getColor(darkBase);
        flex:none;
        height:100vh;
        position:absolute;
        top:100px;
        right:0;
        left:0;
        
        .nav-item {
            display:block !important;
            margin:0px !important;
            padding:20px 0px;

            &:hover {
                background:variables.getColor(lightBase);
                // color:variables.getColor(lightBase) !important;
                @include variables.objectShadow(base);
            }
        }

        .donate-mobile {
            display:block !important; 
            background:variables.getColor(red-btnBG);
            color:variables.getColor(red-btnTXT) !important;
            
            &:hover {
                background:variables.$red;
                color:variables.getColor(lightBase) !important;
            }
        } 
    }
    .donate {
        display:none !important;
    }

    .menu-icon {
        display:block !important;
    }
}

@media screen and (max-width:550px) {

    header h1 {
        font-size: 10vmin !important;
    }


    .three-column-option {
        grid-template-columns: 1fr;

        div h2 {
            font-size:3vmax;
        }
    }
}