// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap');

// UI Light Color
$light-high:#FFF;
$light-megher: #F8F9FD;
$light-med: #F8F9FD;
$light-low: #D3DEE9;
$light-lower: #AFB1CA;

// UI Dark Colors
$dark-high:#292F39;
$dark-med:#242932;
$dark-low:#1F232A;
$dark-lower: #BFC0DC;

// Object Configuration
$objectSpace_small: 20px;

// Desktop
$header-size: 8vmin;
$para-size: 1.2rem;
// $medium-size: 5em;
$small-size: 1rem;
$page-width: 1200px;

// Color Palette
$blue:       #008DB1;
$dark-blue:  #1E4B5D;
$atom-blue:  #272C35;
$atom-blue_light: #303742;
$light-blue: #f4f4f6;
$med-blue:   #D3DEE9;
$red:     #EC7765;
// $sand:       #F2E4DA;
$lightClean: #5F7B97;

// Base Color Light Mode
$colors: (
  // ------- UI START ------------
  // BASE:
  lightBase: $light-high,
  darkBase: $light-med,

  // TEXT
  textHeader : $dark-blue,
  textSubHeader: $blue,
  lightText: $light-lower,
  hiddenText: $med-blue,

  // BTN:
  lightClean-btnBG: #ECEFF7,
  lightClean-btnTXT: #5F7B97,
  red-btnBG: rgba(#EC7765, .1),
  red-btnTXT: #EC7765,
  blue-btnBG: rgba($blue, .1),
  blue-btnTXT: $blue,
  // -------- UI END --------------

  base  : #ffffff,
  aBorder: #f8f9fd,
  text  : $atom-blue,
  textOnDark: $atom-blue, //Color on Dark BG
  textOnOrange: #FFF, // Text on Orange BG
  selectedText : $med-blue,
  Darkbase: $atom-blue,
  text3 : $dark-blue,
  base2 : $light-blue,
  objBG : $dark-blue,
  text2 : $med-blue,
  text-icon: $med-blue,
  icon-color: #FFF,
  base-icon: rgb(15, 13, 13),
  base3 : $light-blue,
  textWhiteBG: #FFF,
);

// Base Color Dark Mode
$colors-dark: (
  // ----- UI START ---------
  lightBase: $dark-high,
  darkBase: $dark-med,

  // Text
  textHeader: $light-megher,
  lightText: $dark-lower,
  hiddenText: #394d6d,
  textSubHeader: $blue,

  // Button
  lightClean-btnBG: #2F3642,
  lightClean-btnTXT: #5F7B97,
  red-btnBG: rgba(#EC7765, .2),
  red-btnTXT: #EC7765,
  // -------- UI END ---------

  base : map-get($colors, text),
  textOnDark: #FFF,
  textOnOrange: $atom-blue,
  minimalBorder: rgb(45, 45, 45),
  Darkbase: lighten($atom-blue, 3%),
  selectedText: $dark-blue,
  text3 : map-get($colors, base),
  text : map-get($colors, base),
  text-icon: $blue,
  base2: $dark-blue,
  objBG: $blue,
  base-icon: $dark-blue,
  icon-color:#fff,
  textWhiteBG: $dark-blue,
  text2: $blue,
);

:root {
  @each $name, $color in $colors{
    --color-#{$name} : #{$color};
  }
}

// Dark Mode
@media(prefers-color-scheme: dark) {
  :root {
    @each $name, $color in $colors-dark{
      --color-#{$name} : #{$color};
    }
  }
}

@function getColor($color-name){
  @return var(--color-#{$color-name});
}

@mixin enableAnimation {
  -webkit-transition:all 0.2s ease-in-out;
  -moz-transition:all 0.2s ease-in-out;
  -o-transition:all 0.2s ease-in-out;
  transition:all 0.2s ease-in-out;
}

@mixin objectShadow($type) {
  @if $type == "base" {
    box-shadow:0px 15px 30px rgba(0, 0, 0, 0.05);
  }

  @else if $type == "hover" {
    box-shadow:0px 15px 50px rgba(0, 0, 0, 0.09);
  }
}

@mixin objectCorner($value) {
  @if $value == "small" {
    border-radius:15px;
  }

  @else if $value == "medium" {
    border-radius:25px;
  }
}