// Importing Index.scss Functions
@use './variables' as *;

#meet-reiko {
    padding:5% 5% !important;
}

.priorities {
    background:$blue;

    h1 {
        color:#FFF;
    }
}

.three-column-option_container {
    margin:auto;
}

.three-column-option {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 50px 50px;
    align-items: center;

    > div {
        padding:20px 30px;
        // border:3px solid lighten($blue, 4);
        // @include objectShadow(base);
        @include objectCorner(medium);
        // @include enableAnimation;
        
        &:hover {
            // background:lighten($blue, 4);
            // background:darken($blue, 2);
            // @include objectShadow(base);
            cursor: pointer;

            center {
                filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.1));
            }

            h2 {
                color:#FFF;
            }

            p {
                color:getColor(lightBase);
            }
        }

        h2, p {
            -webkit-transition:all 0.2s ease-in-out;
            -moz-transition:all 0.2s ease-in-out;
            -o-transition:all 0.2s ease-in-out;
            transition:all 0.2s ease-in-out;
        }

        h2 {
            font-family:"Poppins", sans-serif;
            font-size:3vmin;
            text-align:center;
            margin:0;
            padding:10px 0 0 0;
            color:getColor(darkBase);
        }

        // p {
        //     text-align:center;
        //     padding:10px 0 0 0;
        //     margin:0px;
        //     color:getColor(hiddenText);
        // }

        img {
            display:block;
            padding:0 !important;
            text-align:center;
            margin:auto;
            // border-radius:50%;
            // display:block;
            // margin:auto;
            // text-align:center;
            // max-width:100px;
            // max-height:100px;
        }
    }
}

// Endorsements
.endorsements {
    // .endo_logos {
    //     background:getColor(lightBase);
    //     padding:5% 5%;
    //     @include objectCorner(medium);
    //     @include enableAnimation;
    //     @include objectShadow(base);

    //     &:hover {
    //         @include objectShadow(hover)
    //     }
    // }

    .endo_want {
        text-align:center;
        width:80%;
        padding-top:20px;
        margin:auto;
        @include objectCorner("small");
    }
}

// Events Module
.events {
    background:getColor(darkBase);
    .events-module_section {
        display:flex;
        margin-bottom:$objectSpace_small;

        .event-des, .event-date {
            background-color:getColor(lightBase);
            min-height:250px;
            @include objectShadow("base");
            @include objectCorner("medium");
            transition: box-shadow 250ms linear;
            // @include enableAnimation;

            &:hover {
                @include objectShadow("hover");
            }
        }

        .event-des {
            flex:2.5;
            // padding:30px 40px;
            padding:3% 4%;
            margin-right:$objectSpace_small;

            h3, p {
                padding:0px;
                margin:0;
            }

            h3 {
                margin-bottom:10px;
                font-size:5vmin;
            }

            p {
                color:getColor(lightText);
                line-height:35px;
            }

            .event-links {
                display:flex;
                align-items: center;

                a {
                    flex:1;
                    margin-top:20px;
                    font-size:1rem !important;
                    margin-right:15px;

                    &:last-child {
                        margin-right:0px !important;
                    }
                }
            }
        }

        .event-date {
            background:getColor(lightBase);
            min-height:150px !important;
            flex:1;
            display:flex;
            flex-direction: column;
            text-align:center;
            
            .event-date_month {
                flex:1.2;
                font-size:3vmax;
                background:getColor(blue-btnTXT);
                border-radius:$border-radius-medium $border-radius-medium 0px 0px;
                color:getColor(lightBase);
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .event-date_day {
                flex:1.5;
                font-size:8vmax;
                display: flex;
                justify-content: center;
                align-items: center;
                color:$blue;
            }
        }

        .event-img {
            flex:1;
            background-size:cover !important;
            background-position: center center !important;
        }

        &:nth-child(2) {
            .event-des {
                flex:2;
                margin-right:0px;
            }
    
            .event-date {
                flex:1;
                margin-right:$objectSpace_small;
            }
        }
    }

    .event-past {
        .event-date {
            .event-date_month {
                color:getColor(lightBase);
                background:getColor(lightText);
            }
            .event-date_day {
                color:getColor(lightText);
            }
        }
        .event-des {
            h3, p, .event-links a {
                color:getColor(lightText);
            }

            .event-links a {
                background:rgba(0, 0, 0, 0.02);

                &:hover {
                    box-shadow:none;
                }
            }
        }
    }

}

#slider {
    background:url("../images/photos/brickReiko.jpg") !important;
    background-repeat:no-repeat !important;
    background-size:cover !important;
    background-position: left !important;
    height:80vmin;
    // margin-top:-87px;
    margin-top:0px;
    display:flex;
    justify-content: center;
    align-items: center;

    @include responsive('mobile') {
        height:70vh;
        background-position: center center !important;

        &:before {
            height:70vh !important;
        }
    }

    &:before {
        background: -o-linear-gradient(-90deg, transparent, rgba(0, 0, 0, .3));
        background: -moz-linear-gradient(-90deg, transparent, rgba(0, 0, 0, .3));
        background: -webkit-linear-gradient(-90deg, transparent, rgba(0, 0, 0, .3));
        content: '';
        position: absolute;
        width: 100%;
        height:80vmin;
    }

    span.slider_text {
        flex:1;
        margin:auto;
        text-align:center;
        margin:0 10%;
    }

    h1, p {
        position:relative;
        padding:0px;
        margin:auto;
        text-align:left;
        text-shadow:0px 20px 40px rgba(0, 0, 0, 0.5);
    }

    a {
        position:relative;
        margin:2% 0 0 0 !important;
    }
    
    h1 {
        font-size:8vmin;
        color:#FFF;

        @include responsive('desktop') {
            font-size:7vmin !important;
        }
    }
    
    p {
        font-size:3.5vmin;
        color:#FFF;
    }
}