@use '../styles/variables';
@use '../styles/responsive';

#error {
    height:80vmin;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;

    h1 {
        text-align:center;
        padding:0px !important;
        margin:0px;
        color:variables.getColor(textHeader);
        font-size:5vw;
    }

    #notfound-logo {
        width:50%;
    }
}