// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap');

// Text Sizes

// Desktop
$header-size: 8vmin;
$para-size: 1.2rem;
// $medium-size: 5em;
$small-size: 1rem;

// Color Palette
$blue:       #008DB1;
$dark-blue:  #1E4B5D;
$atom-blue:  #272C35;
$light-blue: #f4f4f6;
$med-blue:   #D3DEE9;
$orange:        #EC7765;
$sand:       #F2E4DA;

// Base Color Light Mode
$colors: (
  base  : #ffffff,
  text  : $atom-blue,
  text3 : $dark-blue,
  base2 : $light-blue,
  objBG : $dark-blue,
  text2 : $med-blue,
  text-orangebg: #FFF,
  text-icon: $med-blue,
  icon-color: #FFF,
  base-icon: rgb(15, 13, 13),
  base3 : $light-blue,
  textWhiteBG: #FFF,
);

// Base Color Dark Mode
$colors-dark: (
  text3 : map-get($colors, base),
  base : map-get($colors, text),
  text : map-get($colors, base),
  text-icon: $blue,
  base2: $dark-blue,
  objBG: $blue,
  base-icon: $dark-blue,
  icon-color:#fff,
  text-orangebg: $atom-blue,
  textWhiteBG: $dark-blue,
  text2: $blue,
);

:root {
  @each $name, $color in $colors{
    --color-#{$name} : #{$color};
  }
}

// Dark Mode
@media(prefers-color-scheme: dark) {
  :root {
    @each $name, $color in $colors-dark{
      --color-#{$name} : #{$color};
    }
  }
}

@function getColor($color-name){
  @return var(--color-#{$color-name})
}

* {
  box-sizing:border-box;
}

a {
  text-decoration:none;
}

body {
  background: getColor(base);
  margin:0;
  font-family:'Poppins', sans-serif;
}

// Navigation
nav {
  background:getColor(base);
  box-shadow:0px 15px 50px rgba(0, 0, 0, 0.08);

  .nav-wrapper {
    display:flex;
    align-items:center;
    min-height:50px;
    max-width:1150px;
    margin:auto;

    div {
      flex:1;
    }

    .logo-contain {
      #logo {
        max-height:100px;
        padding:20px 0px;
        display:block;
        margin:auto;
      }
    }
    .nav-contain {
      text-align:center;
      flex:2;

      .nav-item {
        color:getColor(text);
        display:inline-block;
        margin:0px 15px;

        &:first-child {
          margin-left: 0 !important;
        }

        &:last-child {
          margin-right:0px !important;
        }
      }
    }

    .donate-contain {
      a.donate {
        display:block;
        text-decoration:none;
        color:getColor(text-orangebg);
        background:$orange;
        padding:10px 0;
        width:150px;
        margin:auto;
        border-radius:10px;
        text-align:center;
      }
    }
  }
}

@media screen and (max-width:500px) {
  header h1 {
    font-size: 10vmin !important;
  }
}

#slider {
  padding-top:30px;
  height:350px;
  background:#eee;
}

.stay-tuned {
  background:getColor(base);
  max-width:370px;
  margin:auto;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  border-radius:15px;
  
  .tuned-title, .tuned-input, .tuned-arrow {
    padding:10px 0px;
  }
  
  .tuned-title {
    flex:2;
    background:getColor(text3);
    color:getColor(textWhiteBG);
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
  }

  .tuned-item {
    flex:1;
    display:flex;
    padding-right:5px;
  }

  .tuned-input {
    border:none;
    outline:none;
    flex:1;
    padding-left: 20px;
    padding-right: 20px;
  }

  .tuned-arrow {
    background:getColor(base);
    box-shadow:0px 15px 30px rgba(0, 0, 0, 0.15);
    color:getColor(text3);
    border-radius:30px;
    display:inline-block;
    padding:0px 25px;
    // width:45px;
    // height:45px;
    font-weight:bold;
    font-size:22px;
  }
}