// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap');

// Text Sizes

// Desktop
$header-size: 8vmin;
$para-size: 1.2rem;
// $medium-size: 5em;
$small-size: 1rem;

// Color Palette
$blue:       #008DB1;
$dark-blue:  #1E4B5D;
$atom-blue:  #272C35;
$light-blue: #f4f4f6;
$med-blue:   #D3DEE9;
$red:        #EC7765;
$sand:       #F2E4DA;

// Base Color Light Mode
$colors: (
  base  : #ffffff,
  text  : $atom-blue,
  text3 : $dark-blue,
  base2 : $light-blue,
  objBG : $dark-blue,
  text2 : $med-blue,
  icon-color: #FFF,
  base-icon: #FFF,
  base3 : $light-blue,
);

// Base Color Dark Mode
$colors-dark: (
  text3 : map-get($colors, base),
  base : map-get($colors, text),
  text : map-get($colors, base),
  base2: $dark-blue,
  objBG: $blue,
  base-icon: $dark-blue,
  icon-color:#fff,
  text2: $blue,
);

:root {
  @each $name, $color in $colors{
    --color-#{$name} : #{$color};
  }
}

// Dark Mode
@media(prefers-color-scheme: dark) {
  :root {
    @each $name, $color in $colors-dark{
      --color-#{$name} : #{$color};
    }
  }
}

@function getColor($color-name){
  @return var(--color-#{$color-name})
}

* {
  box-sizing:border-box;
}

body {
  background: getColor(base);
  margin:0;
  font-family:'Poppins', sans-serif;
}

.RMW_container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  #logo {
    margin:auto;
    display:block;
    max-width:200px;
    margin-bottom:10%;
  }

  header {
    h1 {
      color:getColor(text3);
      text-align:center;
      text-transform:uppercase;
      font-size:$header-size;
      padding:0;
      margin:0;
    }

    p {
      font-size:$para-size;
      color:getColor(text2);
      text-align:center;
      padding:0;
      margin:0;
    }
  }
}

#contact {
  margin-top:8%;
}

#notify-me {
  display:flex;
  align-items:center;
  justify-content: center;
  background:getColor(base2);
  max-width:200px;
  margin:auto;
  border-radius:40px;
  padding:5px 0px;
  -webkit-transition:all 0.2s ease-in-out;
  -moz-transition:all 0.2s ease-in-out;
  -o-transition:all 0.2s ease-in-out;
  transition:all 0.2s ease-in-out;

  &:hover {
    background:getColor(text2);

    span.arrow-icon {
      box-shadow:0px 10px 20px rgba(0, 0, 0, 0.2);
      margin-right:5px;
      margin-left:5px;
    }
  }

  h2 {
    flex:3;
    padding:0px;
    text-align:center;
    margin:0 auto 0 auto;
    color:getColor(text3);
    font-weight:100;
    margin-left:10px;
    font-size:$para-size;
  }

  span.arrow-icon {
    flex:1;
    text-align:center;
    color:getColor(text3);
    font-size:30px;
    margin-right:10px;
    background:getColor(base);
    box-shadow:0px 10px 20px rgba(0, 0, 0, 0.1);
    border-top-right-radius:25px;
    border-bottom-right-radius:25px;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    -webkit-transition:0.2s ease-in-out;
    -moz-transition:0.2s ease-in-out;
    -o-transition:0.2s ease-in-out;
    transition:0.2s ease-in-out;
  }
}


#SM-btns {
  display:flex;
  max-width:120px;
  margin: 20px auto 0px auto;
  justify-content: center;
  align-items:center;
  
  span {
    display:inline-block;
    height:40px;
    width:40px;
    background:getColor(base-icon);
    box-shadow:0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius:30px;
    text-align:center;
    margin:auto;
    color:getColor(text2);
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
    
    &:hover {
      background:$blue;
    }
  }
}

footer {
  margin-top:50px;
  p {
    text-align:center;
    color:getColor(text2);
    font-size:$small-size;
  }
}

@media screen and (max-width:500px) {
  header h1 {
    font-size: 10vmin !important;
  }
}