// Importing Index.scss Functions
@use '../../styles/variables';

h1 {
    color: variables.getColor('textHeaderDark');
}

#slider {
    padding-top:30px;
    height:350px;
    background:#eee;
}


// .stay-tuned {
//   background:variables.getColor(base);
//   max-width:370px;
//   margin:auto;
//   display:flex;
//   align-items:center;
//   justify-content:center;
//   text-align:center;
//   border-radius:30px;
  
//   .tuned-title, .tuned-input, .tuned-arrow {
//     padding:10px 0px;
//   }
  
//   .tuned-title {
//     flex:2;
//     background:variables.getColor(text3);
//     color:variables.getColor(textWhiteBG);
//     border-top-left-radius:30px;
//     border-bottom-left-radius:30px;
//   }

//   .tuned-item {
//     flex:1;
//     display:flex;
//     padding-right:5px;
//   }

//   .tuned-input {
//     border:none;
//     outline:none;
//     flex:1;
//     padding:12px 15px;
//     font-family:"Poppins", sans-serif;
//     font-size:.9rem;
//     color:variables.getColor(text2);
//   }

//   .tuned-arrow {
//     background:variables.getColor(base);
//     box-shadow:0px 10px 25px rgba(0, 0, 0, 0.2);
//     color:variables.getColor(text3);
//     border-radius:30px;
//     display:inline-block;
//     width:40px;
//     height:40px;
//     line-height:15px;
//     font-weight:bold;
//     font-size:22px;
//     border:none;
//     font-family:"Poppins", sans-serif;
//     -webkit-transition:all 0.2s ease-in-out;
//     -moz-transition:all 0.2s ease-in-out;
//     -o-transition:all 0.2s ease-in-out;
//     transition:all 0.2s ease-in-out;
//     // margin-right:-5px;

//     &:hover {
//       background:$blue;
//       color:#FFF;
//       cursor:pointer;
//     }
//   }
// }