// Importing Index.scss Functions
@use '../../styles/variables';

.priorities {
    background:variables.getColor(darkBase);
}

.three-column-option_container {
    margin:auto;
}

.three-column-option {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 50px 50px;
    align-items: center;

    div {
        padding:20px 30px;
        background:variables.getColor(darkBase);
        @include variables.objectCorner(medium);
        // @include variables.enableAnimation;

        &:hover {
            background:variables.getColor(lightBase);
            @include variables.objectShadow(base);
            cursor: pointer;

            h2 {
                color:variables.$blue;
            }

            p {
                color:variables.getColor(hiddenTextHover);
            }
        }

        h2, p {
            -webkit-transition:all 0.2s ease-in-out;
            -moz-transition:all 0.2s ease-in-out;
            -o-transition:all 0.2s ease-in-out;
            transition:all 0.2s ease-in-out;
        }

        h2 {
            font-family:"Poppins", sans-serif;
            font-size:2vmax;
            text-align:center;
            margin:0;
            padding:10px 0 0 0;
            color:variables.getColor(hiddenText);
        }

        p {
            text-align:center;
            padding:10px 0 0 0;
            margin:0px;
            color:variables.getColor(hiddenText);
        }

        img {
            border-radius:50%;
            display:block;
            margin:auto;
            text-align:center;
            max-width:130px;
            max-height:130px;
        }
    }
}

// Endorsements
.endorsements {
    .endo_logos {
        background:variables.getColor(lightBase);
        padding:5% 5%;
        @include variables.objectCorner(medium);
        @include variables.enableAnimation;
        @include variables.objectShadow(base);

        &:hover {
            @include variables.objectShadow(hover)
        }

        // Endorsement New
        .endorsementmodule_wrapper {
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
            justify-content: center;
            grid-gap: 20px;
            align-items:center;

            .endorsement-card {
                background:variables.getColor(lightBase);
                padding:10% 10px;
                border:2px solid variables.getColor(darkBase);
                @include variables.objectCorner('medium');
                transition-property: box-shadow;
                transition-duration: .4s;

                h2 {
                    padding:0px;
                    margin:auto;
                }
                
                p {
                    margin:0px;
                    text-align:center;
                }

                &:before {
                    content:"Thank you";
                    margin:auto;
                    text-align:center;
                    color:variables.getColor(darkBase);
                    font-weight:800;
                    display:block;
                    transition-property: color;
                    transition-duration: 1s;
                }

                &:hover {
                    border-color: transparent;
                    @include variables.objectShadow(base);

                    &:before {
                        color:variables.$blue;
                    }
                }
            }
        }
    }

    .endo_want {
        text-align:center;
        width:80%;
        padding-top:20px;
        margin:auto;
        @include variables.objectCorner("small");
    }
}

// Events Module
.events {
    background:variables.getColor(darkBase);

    .events-module_section {
        display:flex;
        margin-bottom:variables.$objectSpace_small;

        span {
            background-color:variables.getColor(lightBase);
            min-height:250px;
            @include variables.objectShadow("base");
            @include variables.objectCorner("medium");
            @include variables.enableAnimation;

            &:hover {
                @include variables.objectShadow("hover");
            }
        }

        .event-des {
            flex:2;
            // padding:30px 40px;
            padding:3% 4%;
            margin-right:variables.$objectSpace_small;

            h3, p {
                padding:0px;
                margin:0;
            }

            h3 {
                margin-bottom:10px;
            }

            p {
                color:variables.getColor(lightText);
                line-height:35px;
            }

            a {
                margin-top:20px;
                display:inline-block;
            }
        }

        .event-img {
            flex:1;
            background-size:cover !important;
            background-position: center center !important;
        }

        &:nth-child(2) {
            .event-des {
                flex:2;
                margin-right:0px;
            }
    
            .event-img {
                flex:1;
                margin-right:variables.$objectSpace_small;
            }
        }
    }
}

#slider {
    background:url(../../assets/imgs/RMW-DeskWait.jpg);
    background-size:cover;
    background-position: center;
    height:80vh;
    display:flex;
    justify-content: center;
    align-items: center;

    &:before {
        background: rgba(0, 0, 0, 0.4);
        content: '';
        position: absolute;
        width: 100%;
        height: 80vh;
    }

    span.slider_text {
        flex:1;
    }

    h1, p {
        position:relative;
        padding:0px;
        margin:auto;
        text-align:center;
        text-shadow:0px 20px 40px rgba(0, 0, 0, 0.5);
    }
    
    h1 {
        font-size:8vmin;
        color:#FFF;
    }
    
    p {
        font-size:3.5vmin;
        color:#FFF;
    }
}

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='checkbox'],
    input[type='radio'] {
      -webkit-appearance: none;
      -moz-appearance: none;
    }
  }