// Importing Index.scss Functions
@use '../../styles/variables';

.priorities {
    background:variables.getColor(darkBase);
}

.three-column-option_container {
    margin:auto;
}

.three-column-option {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 50px 50px;

    div {
        padding:20px 30px;
        background:variables.getColor(darkBase);
        @include variables.objectCorner(medium);
        @include variables.enableAnimation;

        &:hover {
            background:variables.getColor(lightBase);
            @include variables.objectShadow(base);
            cursor: pointer;

            h2 {
                color:variables.$blue;
            }

            p {
                color:variables.$dark-blue;
            }
        }

        h2, p {
            -webkit-transition:all 0.2s ease-in-out;
            -moz-transition:all 0.2s ease-in-out;
            -o-transition:all 0.2s ease-in-out;
            transition:all 0.2s ease-in-out;
        }

        h2 {
            font-family:"Poppins", sans-serif;
            font-size:2vmax;
            text-align:center;
            margin:0;
            padding:10px 0 0 0;
            color:variables.getColor(hiddenText);
        }

        p {
            text-align:center;
            padding:10px 0 0 0;
            margin:0px;
            color:variables.getColor(hiddenText);
        }

        img {
            border-radius:50%;
            display:block;
            margin:auto;
            text-align:center;
            max-width:130px;
            max-height:130px;
        }
    }
}

// Endorsements
.endorsements {
    .endo_logos {
        background:variables.getColor(lightBase);
        padding:5% 5%;
        @include variables.objectCorner(medium);
        @include variables.enableAnimation;
        @include variables.objectShadow(base);

        &:hover {
            @include variables.objectShadow(hover)
        }

        .endo_logo-part {
            display:flex;

            &:first-child {
                margin-bottom:4%;
            }

            .endos {
                flex:1;
                margin-bottom:0;
                @include variables.objectCorner("small");

                img {
                    display:block;
                    margin:auto;
                }
            }
        }
    }

    .endo_want {
        text-align:center;
        width:80%;
        padding-top:20px;
        margin:auto;
        @include variables.objectCorner("small");
    }
}

// Events Module
.events {
    background:variables.getColor(darkBase);

    .events-module_section {
        display:flex;
        margin-bottom:variables.$objectSpace_small;

        span {
            background-color:variables.getColor(lightBase);
            min-height:250px;
            @include variables.objectShadow("base");
            @include variables.objectCorner("medium");
            @include variables.enableAnimation;

            &:hover {
                @include variables.objectShadow("hover");
            }
        }

        .event-des {
            flex:2;
            // padding:30px 40px;
            padding:3% 4%;
            margin-right:variables.$objectSpace_small;

            h3, p {
                padding:0px;
                margin:0;
            }

            h3 {
                margin-bottom:10px;
            }

            p {
                color:variables.getColor(lightText);
                line-height:35px;
            }

            a {
                margin-top:20px;
                display:inline-block;
            }
        }

        .event-img {
            flex:1;
            background-size:cover !important;
            background-position: center center !important;
        }

        &:nth-child(2) {
            .event-des {
                flex:2;
                margin-right:0px;
            }
    
            .event-img {
                flex:1;
                margin-right:variables.$objectSpace_small;
            }
        }
    }
}