// Importing Index.scss Functions
@use '../../styles/variables';

h1 {
    color: variables.getColor('textHeaderDark');
}


#slider {
    padding-top:30px;
    height:350px;
    background:#eee;
}

.three-column-option_container {
    margin:auto;
    max-width:variables.$page-width;
}

.three-column-option {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px 10px;
}

.three-column-option > div {
    background:red;
}