// Importing Index.scss Functions
@use '../../styles/variables';

.priorities {
    background:variables.getColor(darkBase);
}

.three-column-option_container {
    margin:auto;
}

.three-column-option {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 50px 50px;

    div {
        background:variables.getColor(darkBase);
        padding:20px 30px;
        @include variables.objectCorner(medium);
        @include variables.enableAnimation;

        &:hover {
            background:variables.getColor(lightBase);
            @include variables.objectShadow(hover);
            cursor: pointer;

            h2 {
                color:variables.$blue;
            }

            p {
                color:variables.$dark-blue;
            }
        }

        h2, p {
            -webkit-transition:all 0.2s ease-in-out;
            -moz-transition:all 0.2s ease-in-out;
            -o-transition:all 0.2s ease-in-out;
            transition:all 0.2s ease-in-out;
        }

        h2 {
            font-family:"Poppins", sans-serif;
            font-size:2.5vmax;
            text-align:center;
            margin:0;
            padding:10px 0 0 0;
            color:variables.getColor(hiddenText);
        }

        p {
            text-align:center;
            padding:10px 0 0 0;
            margin:0px;
            color:variables.getColor(hiddenText);
        }

        img {
            border-radius:50%;
            display:block;
            margin:auto;
            text-align:center;
            max-width:130px;
            max-height:130px;
        }
    }
}

// Endorsements
.endorsements {
    .endo_logos {
        background:variables.getColor(lightBase);
        padding:5% 5%;
        // box-shadow:0px 20px 40px rgba(0, 0, 0, 0.08);
        @include variables.objectCorner(medium);
        @include variables.enableAnimation;
        @include variables.objectShadow(base);

        &:hover {
            @include variables.objectShadow(hover)
        }

        .endo_logo-part {
            display:flex;

            .endos {
                background:-webkit-linear-gradient(top left, red, blue);
                height:5vw;
                flex:1;
                @include variables.objectCorner("small")
            }
        }
    }
}